.admin-management-container {
  background: linear-gradient(
      to bottom,
      rgba(26, 0, 255, 0.4) 0%,
      rgba(5, 14, 68, 0.38) 13%,
      rgba(5, 0, 50, 0) 100%,
      rgba(0, 0, 255, 0.4)
    ),
    url("../assets/BlackImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.nav-admin {
  color: "white";
  height: "60px";
  font-weight: "500";
}

.search-input {
  border-color: white !important;
  color: white;
  box-shadow: none !important;
  outline: none;
}

.btn-search {
  padding: 8px;
  cursor: pointer;
}

table {
  background-color: transparent !important;
}
thead {
  background-color: transparent !important;
}
.clickable-header {
  cursor: pointer;
  background-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-input {
  background-color: rgba(149, 137, 255, 0.78);
  color: white;
}
.btn-save-admin {
  background: rgba(111, 79, 255, 0.3);
  border-color: rgb(111, 79, 255);
}
.input-creer-admin {
  border-color: rgba(116, 101, 247, 0.6);
  background-color: transparent;
  color: white;
}
