#inputForm {
    border: solid #7465F7;
    background-color: rgba(116, 101, 247, 0.1);
    outline: none;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    color: white;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 1rem;
    width: 100%;
}

#titresForm{
    font-size: 22px;
}

#blocForm{
    width: 100%;
}
