/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav{
  background-color: #957FEF;
  color: #19297C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nal ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li:hover {
  background-color:#98DFAF; 
}
.nav li.active {
  background-color: #98DFAF;
} */